<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="/blog/">IkJu Lim blog</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
<!--
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/blog/" id="navbarDropdown" data-toggle="dropdown" style="margin-bottom: 0px">
              Blog
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/blog/">Category</a>
              <hr class="dropdown-divider">
              {% for category in categories %}
              <a class="dropdown-item" href="{{ category.get_absolute_url }}">{{ category }} ({{ category.post_set.count }})</a>
              {% endfor %}
              {% if no_category_post_count %}
              <a class="dropdown-item" href="/blog/category/no_category/">미분류 ({{ no_category_post_count }})</a>
              {% endif %}
            </div>
          </li>
<!--
          <li class="nav-item">
            <a class="nav-link" href="/about_me/">About Me</a>
          </li>
-->
          <li>
            <div class="input-group">
              <input id="search-input" type="text" class="form-control" placeholder="Search">
              <button type="button" class="btn btn-primary" onClick="searchPost();">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>