{% extends 'blog/base.html' %}

{% block head_title %}
  {{ post.title }} - Blog
{% endblock %}

{% block main_area %}
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="index.html">Ik Ju Lim</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="post.html">Sample Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  {% if post.head_image %}
  <header class="masthead" style="background-image:url('{{ post.head_image.url }}')>
  {% else %}
  <header class="masthead">
  {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ post.title }}</h1>
            <h2 class="subheading">{{ post.sub_title }}</h2>
            <span class="meta">Posted by
              <a href="#">IkJu Lim</a>
              on {{ post.created_at}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {{ post.content }}
          {% if post.file_upload %}
          <hr>
          <a href="{{ post.file_upload.url }}" class="btn btn-outline-dark" role="button">
            Download:
            {% if post.get_file_ext == 'csv' %}
              <i class="fas fa-file-csv"></i>
            {% elif post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
              <i class="fas fa-file-excel"></i>
            {% elif post.get_file_ext == 'docx' or post.get_file_ext == 'doc' %}
              <i class="fas fa-file-word"></i>
            {% else %}
              <i class="fas fa-file"></i>
            {% endif %}
            {{ post.get_file_name }}
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </article>
{% endblock %}
