{% extends 'blog/base.html' %}

{% block main_area %}
  <!-- Page Header -->
  {% if post.head_image %}
  <header class="masthead" style="background-image:url('{{ post.head_image.url }}')>
  {% else %}
  <header class="masthead">
  {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ post.title }}</h1>
            <span class="category">
              {% if post.category %}
              <a href="/blog/">blog</a>&nbsp;&gt;&nbsp;<a href="{{post.category.get_absolute_url}}">{{ post.category }} ({{ post.category.post_set.count }})</a></span>
              {% else %}
              <a href="/blog/">blog</a>&nbsp;&gt;&nbsp;<a href="/blog/category/no_category/">미분류</a></span>
              {% endif %}
            <span class="meta">Posted by
              <a href="#">IkJu Lim</a>
              on {{ post.created_at}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {{ post.content }}
          {% if post.file_upload %}
          <hr>
          <a href="{{ post.file_upload.url }}" class="btn btn-outline-dark" role="button">
            Download:
            {% if post.get_file_ext == 'csv' %}
              <i class="fas fa-file-csv"></i>
            {% elif post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
              <i class="fas fa-file-excel"></i>
            {% elif post.get_file_ext == 'docx' or post.get_file_ext == 'doc' %}
              <i class="fas fa-file-word"></i>
            {% else %}
              <i class="fas fa-file"></i>
            {% endif %}
            {{ post.get_file_name }}
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </article>
{% endblock %}
