{% extends 'blog/base.html' %}

{% block main_area %}
  <!-- Page Header -->
  <header class="masthead" <!--style="background-image: url('img/home-bg.jpg')"-->>
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            {% if search_info %}
            <h1>{{ search_info }}</h1>
            {% elif category %}
            <h1>Category: {{ category }}</h1>
            {% else %}
            <h1>IkJu Lim Blog</h1>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">

    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <!--New Button-->
        {% if user.is_authenticated %}
          {% if user.is_superuser or user.is_staff %}
            <a class="btn btn-info btn-sm float-right" href="/blog/create_post/" role="button"><i class="fas fa-pen"></i>&nbsp;&nbsp;New Post</a>
          {% endif %}
        {% endif %}

        {% for p in post_list %}
        <div class="post-preview">
          <a href="{{ p.get_absolute_url }}">
            <h2 class="post-title">
              {{ p.title }}
            </h2>
            <h3 class="post-subtitle">
              {{ p.sub_title }}
            </h3>
          </a>
          {% if p.category %}
          <h6 class="category"><a href="{{p.category.get_absolute_url}}"> {{ p.category }} </a></h6>
          {% endif %}
          {% if p.author %}
          <p class="post-meta">Posted by <a href="#">{{p.author}}</a> on {{ p.created_at }}</p>
          {% else %}
          <p class="post-meta">Posted on {{ p.created_at }}</p>
          {% endif %}
        </div>
        <hr>
        {% endfor %}
        {% if is_paginated %}
        <!-- Pager -->
        <div class="clearfix">
          {% if page_obj.has_previous %}
          <a class="btn btn-primary float-left" href="?page={{ page_obj.previous_page_number }}">&larr; befor</a>
          {% endif %}
          {% if page_obj.has_next %}
          <a class="btn btn-primary float-right" href="?page={{ page_obj.next_page_number }}">next &rarr;</a>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}